{% extends 'base.html.twig' %}
{% block header %}
	<header class="masthead" style="background-image: url('/App/public/assets/img/background.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>Modifier l'article</h1>

					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}
{% block body %}
	<div class="mb-4">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">

					<h2>Modifier l'Article</h2>
					<form method="post" action="/blogpost/modify/{{blogpost.postId}}" name="blogpost-update-form">
						<input type="hidden" name="user_id" value="{{blogpost.userId}}"/>
						<input type="hidden" name="post_id" value="{{blogpost.postId}}"/>
						<input type="hidden" name="token" value="{{ token }}"/>
						<div class="form-floating">

							<input class="form-control" type="text" id="title" name="title" value="{{blogpost.title}}"/>
							<label for="title">Titre</label>

						</div>

						<div class="form-floating">

							<textarea class="form-control" type="text" id="headline" name="headline"/>{{blogpost.headline}}</textarea>
						<label for="headline">Headline</label>

					</div>

					<div class="form-floating">

						<textarea class="form-control" type="text" id="content" name="content" style="height: 12rem"/>{{blogpost.content}}</textarea>
					<label for="content">Contenu</label>

				</div>

				<br>
				<button type="submit" class="btn btn-primary text-uppercase" name="updateBlogpost" value="updateBlogpost">Modifier</button>

			</form>
			<br>
			<form method="post" action="/blogpost/delete/{{blogpost.postId}}" name="blogpost-delete">
				<input type="hidden" name="post_id" value="{{blogpost.postId}}"/>
				<button type="submit" class="btn btn-danger" name="deleteBlogpost" value="deleteBlogpost" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet article?')">Supprimer</button>
			</form>
		</div>
	</div>
</div>{% endblock %}
