{% extends 'base.html.twig' %}

{% block header %}
	<header class="masthead" style="background-image: url('/App/public/assets/img/test-bg.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>Créer un Article</h1>

					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}
{% block body %}

	<!--<h2>Write a Blogpost</h2>
		<form method="post" action="" name="blogpost-creation-form">
			<input type="hidden" name="user_id" value="32"/>
			<label>Title</label>
			<input type="text" name="title"/>
	
			<label>Content</label>
			<input type="text" name="content" required/>
	
			<label>Headline</label>
			<input type="text" name="headline" required/>
	
	
			<button type="submit" name="createBlogpost" value="createBlogpost">Create blogpost</button>
		</form>
		<div>
			{{message}}</div>-->

	<div class="mb-4">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">

					<form method="post" action="" name="blogpost-creation-form">
						<input type="hidden" name="user_id" value="{{user.user_id}}"/>
						<input type="hidden" name="token" value="{{ token }}"/>

						<div class="form-floating">

							<input class="form-control" type="text" id="title" name="title" required/>
							<label for="title">Titre</label>

						</div>

						<div class="form-floating">

							<textarea class="form-control" type="text" id="headline" name="headline" required></textarea>
							<label for="headline">Headline</label>

						</div>

						<div class="form-floating">

							<textarea class="form-control" type="text" id="content" name="content" style="height: 12rem" required></textarea>
							<label for="content">Contenu</label>

						</div>


						{#<label>Title</label>
																											<input type="text" name="title" value="{{blogpost.title}}"/>
																											<br>
																											<label>Content</label>
																											<input type="text" name="content" value="{{blogpost.content}}" required/>
																											<br>
																											<label>Headline</label>
																											<input type="text" name="headline" value="{{blogpost.headline}}" required/>#}


						<button type="submit" class="btn btn-success" name="createBlogpost" value="createBlogpost">Créer un Article</button>

					</form>
					{% if message %}
						<div class='alert alert-danger'>
							{{message}}
						</div>
					{% endif %}

				</div>
			</div>
		</div>

	{% endblock %}
